.zony{
    background-image: url('../../assets/images/zony.jpeg');
    background-size: cover;
    background-position: center;
}

.clothify{
    background-image: url('../../assets/images/clothify.jpg');
    background-size: cover;
    background-position: center;
}
.country{
    background-image: url('../../assets/images/country.jpg');
    background-size: cover;
    background-position: center;
}
.wecare{
    background-image: url('../../assets/images/wecare.png');
    background-size: cover;
    background-position: center;
}
.todo{
    background-image: url('../../assets/images/todo.jpg');
    background-size: cover;
    background-position: center;
}
.defense{
    background-image: url('../../assets/images/defense.jpg');
    background-size: cover;
    background-position: center;
}
.weather{
    background-image: url('../../assets/images/weather.jpg');
    background-size: cover;
    background-position: center;
}

.burgers{
    background-image: url('../../assets/images/burgers.jpg');
    background-size: cover;
    background-position: center;
}

/* General Styles */
.project-card {
    transition: transform 0.3s ease-in-out;
  }
  .project-card:hover {
    transform: scale(1.05);
  }
  
  /* Technologies tags */
  .tech-tag {
    display: inline-block;
    padding: 4px 8px;
    background-color: #e0f7fa;
    color: #00796b;
    border-radius: 16px;
    font-size: 0.875rem;
  }
  
  /* Neon Button */
  .neon-btn {
    display: inline-flex;
    align-items: center;
    background-color: #1e40af;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  .neon-btn:hover {
    background-color: #2563eb;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7), 0 0 20px rgba(0, 0, 255, 0.7), 0 0 30px rgba(0, 0, 255, 0.7);
  }
  .neon-btn i {
    margin-right: 8px;
  }
  
  /* Neon Effect */
  .neon-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(45deg);
    animation: neon-animation 2s infinite;
    transition: all 0.5s;
  }
  
  .neon-btn:hover::before {
    width: 0;
    height: 0;
  }
  
  @keyframes neon-animation {
    0% {
      transform: translate(-50%, -50%) rotate(45deg) scale(0.8);
      background: rgba(255, 255, 255, 0.3);
    }
    50% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
      background: rgba(255, 255, 255, 0.5);
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg) scale(0.8);
      background: rgba(255, 255, 255, 0.3);
    }
  }
  