<footer class="bg-gray-800 text-white py-6 mt-10">
    <div class="container mx-auto flex flex-col items-center px-6">
      <div class="text-center mb-4">
        <p class="text-lg font-medium">© 2024 Chathupa Chamika. All Rights Reserved.</p>
      </div>
      <div class="flex space-x-6">
        <a href="https://github.com/Chathupachamika" target="_blank" class="text-white hover:text-gray-400">GitHub</a>
        <a href="https://linkedin.com/in/chathupa-chamika-" target="_blank" class="text-white hover:text-gray-400">LinkedIn</a>
        <a href="mailto:Chathupachamika765@gmail.com" class="text-white hover:text-gray-400">Email</a>
      </div>
    </div>
  </footer>
  